{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
{{ data.content.intro }}
{% endmarkdown %}

<div class="image-set">
  <div class="image-container graphic-b-1 small">
    <img alt="US-China trade war so far" src="images/trade-war-final_-mobile.png">
  </div>
  <div class="image-container graphic-b-1 medium">
    <img alt="US-China trade war so far" src="images/trade-war-final_-mid.png">
  </div>
</div>

<div class="scroll-container">
  <div id="timeline-wrapper" class="o-grid-container">
    <div id="timeline-container" class="timeline-container o-grid-row initial">
      <div class="timeline__country-banner china">
        <span class="key__bullet"></span>
        <span class="text">Chinese tariffs on US goods</span>
        <span class="key__bullet"></span>
      </div>
      <div class="timeline__legend">
        {% for group in groups %}
          <div class="timeline__legend-item item__{{ group }}">
            <span class="key__bullet"></span>
            <span class="item__name">{% if group === 'industrials' %}Industrial products / technology{% else %}{{ group | capitalize }}{% endif %}</span>
          </div>
        {% endfor %}
        <div class="timeline__legend-item item__others">
          <span class="key__bullet"></span>
          <span class="item__name">Uncategorised</span>
        </div>
      </div>
      <div class="timeline__navigation o-grid-row">
        <div class="timeline__line-container" data-o-grid-colspan="8">
          <div class="timeline__line-text-left">
            <span class="timeline__line-date">June 16</span>
            <span>–</span>
            <span class="timeline__line-value">$50bn</span>
          </div>
          <div class="timeline__line-text-right"></div>
          <div class="timeline__line">
            {% for group in categorySummary %}
              <div class="timeline__circle {% if loop.index0 == 0 %} selected {% endif %}" data-card-id={{ group.name }}>
                <div class="timeline__circle__outer"></div>
                <div class="timeline__circle__text">
                  <div class="timeline__circle__text-date">{{ group.name | formatDate('MMMM D') }} – ${{ group.value | roundBillion }}bn</div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="timeline__buttons" data-o-grid-colspan="4">
          <button class="timeline__top-button">Back to top</button>
          <div class="timeline__direction-container">
            <button class="timeline__left-button">
              <i class="icon-arrow-left"></i>
            </button>
            <button class="timeline__right-button">
              <i class="icon-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
  {% for row in timeline %}
    <div class="date-step" id="tariffs-{{ row.name }}" data-card-id={{ row.name }} data-country-name={{ row.country }} data-card-value={{ row.value | roundBillion }}>
      <h2>{{ row.name | formatDate('dddd, MMMM D, YYYY') }}</h2>
      <p>{{ row.blurb }}</p>
      {% if groupedItems[row.name] | length > 0 %}
      <ol>
        {% for item in groupedItems[row.name] %}
        <li class="item__{{ item.category }}" data-dollareffect="{{ item.dollareffect }}">
          <span class="item__bullet">•</span>
          <span class="item__name">{{ item.englishgoogletranslation }}</span>
        </li>
        {% endfor %}
      </ol>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>

<div id="sources">
  {% markdown %}
  {{ data.content.sources }}
  {% endmarkdown %}
</div>

{% endblock %}
