{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}
{{ data.content.intro }}
{% endmarkdown %}

<div id="summary-graphic">
{% for group, items in groupedItems %}
  <div class="summary-graphic-group">
    <div><a href="#{{ group }}">{{ group | formatDate('dddd, MMMM D') }}</a> ({{ items | length }} items)</div>
    {% for item in items %}<span class="summary-item item__{{ item.category }}"><span class="item__bullet">•</span></span>{% endfor %}
  </div>
{% endfor %}
</div>


{% for group, items in groupedItems %}
  <h2 id="{{ group }}">{{ group | formatDate('dddd, MMMM D, YYYY') }}</h2>
  <ol>
    {% for item in items %}
    <li class="item__{{ item.category }}">
      <span class="item__bullet">•</span>
      <span class="item__name">{{ item.englishgoogletranslation }}</span>
    </li>
    {% endfor %}
  </ol>
{% endfor %}

{% endblock %}
