{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<div class="image-set">
  <div class="image-container graphic-b-1 small">
    <img alt="US-China trade war so far" src="images/trade-war-final_-mobile.png">
  </div>
  <div class="image-container graphic-b-1 medium">
    <img alt="US-China trade war so far" src="images/trade-war-final_-mid.png">
  </div>
</div>

{% markdown %}
{{ data.content.intro }}
{% endmarkdown %}

<div class="scroll-container">
  {% include "components/sticky-header/index.html" %}

  <div class="bottom-nav hidden">
    <button class="timeline__top-button">
      <i class="icon-arrow-up"></i>
      <div class="button-text">TOP</div>
    </button>
  </div>

  <div class="content">
  {% for row in timeline %}
    <div class="date-step" id="tariffs-{{ row.name }}" data-card-id={{ row.name }} data-country-name={{ row.country }} data-card-value={{ row.value | roundBillion }}>
      <h2>{{ row.name | formatDate('dddd, MMMM D, YYYY') }}</h2>
      <p>{{ row.blurb }}</p>
      {% if groupedItems[row.name] | length > 0 %}
      <ol>
        {% for item in groupedItems[row.name] %}
        <li class="item__{{ item.category }}" data-dollareffect="{{ item.dollareffect }}">
          <span class="item__bullet">•</span>
          <span class="item__name">{{ item.englishgoogletranslation }}</span>
        </li>
        {% endfor %}
      </ol>
      {% endif %}
    </div>
  {% endfor %}
  </div>
</div>

<div id="sources">
  {% markdown %}
  {{ data.content.sources }}
  {% endmarkdown %}
</div>

{% endblock %}
