{% import "macros.html" as macros %}
{% extends "layout-list.html" %}

{% block article_body %}

<div class="list-heading">
  <p>Below is a comprehensive list of the tariffs imposed by the US and China already, and the measures they have threatened for the future. See our <a href="https://ig.ft.com/us-china-tariffs/">timeline for more context</a>.</p>
</div>

<div class="scroll-container">
  {% include "components/sticky-header/index.html" %}

  <div class="content">
  {% for event in timeline %}
    {% if event.type !== 'announced' %}
    <div class="date-step" id="tariffs-{{ event.name }}" data-card-id={{ event.name }} data-country-name={{ event.country }} data-card-value={{ event.value | roundBillion }}>
      <div class="date-header">
        <h2>{{ event.name | formatDate('dddd, MMMM D, YYYY') }}</h2>
        {% if event.relatedarticle %}
          <a href="{{ event.relatedarticle }}" class="o-typography-link">Related article »</a>
        {% endif %}
      </div>
      {% set eventTranches = [] %}
      {% for eventGoods in timelineGoods %}
        {% if eventGoods.date === event.name and eventGoods.country === event.country %}
          {% set eventTranches = eventGoods.tranches %}
        {% endif %}
      {% endfor %}
      {% for tranche in eventTranches %}
        <div class="item-list closed">
          <ol>
            {% for good in tranche.goods %}
            <li class="item__{{ good.category }}" data-code="{% if (good.codehts !== 'n/a') %}{{ good.codehts }}{% else %}{{ good.codechs }}{% endif %}">
              <span class="item__bullet">•</span>
              <span class="item__name">{{ good.description }}</span>
            </li>
            {% endfor %}
          </ol>
        </div>
      {% endfor %}
      <div class="item-list-switch">
        <button class="o-buttons o-buttons--primary">{% if (eventTranches | length) <= 1 %}Show list{% else %}Show lists{% endif %}</button>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div id="sources">
  {% markdown %}
  {{ data.content.sources }}
  {% endmarkdown %}
</div>

{% endblock %}
