@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-colors/main';
@import 'o-typography/main';
@import 'o-buttons/main';
@import '_helpers';
@import 'themes/_full-bleed-offset';
@import 'themes/_transparent-header';

main {
  overflow-x: hidden;
}

.topper {
  //Basic topper uses the same grid columns as an article, so things can line up.
  @include articleGrid();
  margin-bottom: 0px;

  @include oGridRespondTo($until: XL) {
    padding-left: 0;
    padding-right: 0;
  }

  @include oGridRespondTo(M) {
    max-width: 740px;
  }
  @include oGridRespondTo(L) {
    -ms-grid-rows: 20px min-content 60px min-content;
    grid-template-rows: 20px min-content 60px min-content;
  }
  @include oGridRespondTo(XL) {
    padding-left: 0;
    padding-right: 0;
  }

  [data-textbox-background~='paper'] {
    background-color: #fff1e5;
  }
}

//Default theme;

.topper__content {
  z-index: 1;

  .o-typography-timestamp {
    margin-bottom: 10px;
  }
  & > p {
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc1b7;
  }
}

.topper__visual {
  margin: 0;
}

.topper__visual,
.topper__background {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-row: 1 / span 5;
  grid-column: 1 / span 6;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  top: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.topper__headline {
  @include oTypographyHeadline();

  &--large {
    @include oTypographyHeadlineLarge();
    color: #000000;
    position: relative; //so it appears above the full width background
  }
}

.topper__standfirst {
  @include oTypographyStandfirst();
  margin-bottom: 20px;
  opacity: 0.8;
  color: #000;

  a {
    @include oTypographySize(0);
  }

  > p {
    margin: 0;
  }
}

.topper__summary {
  @include oTypographySans(1);
  > ul {
    padding: 0 oTypographySpacingSize(5);
  }

  > ul > li {
    margin: oTypographySpacingSize(2) 0;
  }
  &--body {
    h2 {
      @include oTypographySansBold(0);
      margin: 5px 0 0;
    }

    ul {
      @include oTypographyList;
      @include oTypographyListUnordered();
      margin: 0;

      li:first-child {
        margin-top: 0;
      }
      li {
        @include oTypographySans(1);
        @include oTypographyMargin(2, 0);
        font-weight: 600;
      }
    }
  }
}

.topper__image-credit {
  color: oColorsGetPaletteColor('white');
  @include oTypographySans(-2);
  position: absolute;
  right: 12px;
  bottom: 10px;
  text-shadow: 1px 1px 1px oColorsGetPaletteColor('slate');
}

//IE9 support
.topper__image {
  display: block;
  position: relative;
  width: 100%;
}

@supports (object-fit: cover) {
  .topper__image {
    height: 100%;
    object-fit: cover;
  }
}

.topper__brand {
  @include oTypographySans(0);
  margin-right: 4px;
  -webkit-font-smoothing: antialiased;
  @include oGridRespondTo($until: S) {
    display: block;
  }
}

.topper__columnist {
  @include oTypographyMargin($top: 4);
  text-transform: uppercase;
}

.topper__columnist-name {
  vertical-align: middle;
}

.topper__tags {
  display: flex;
  padding-bottom: 5px;

  a {
    color: #990f3d;
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;

    &:hover {
      color: #4d081f;
    }
  }
}

// Video support

.topper__video {
  display: block;
  position: relative;
  width: 100%;
}

@supports (object-fit: cover) {
  .topper__video {
    object-fit: cover;
    height: 102%;
    position: relative;
    top: -1%;
  }
}

.topper__video.small {
  @include oGridRespondTo(S) {
    display: none;
  }
}

.topper__video.desktop {
  display: none;
  @include oGridRespondTo(S) {
    display: block;
  }
}

// Mobile only standfirst

.topper__standfirst-mobile {
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 1.14;
  text-align: center;
  color: #33302e;
  font-size: 24px;
  background-color: #faeadc;

  @media (min-aspect-ratio: 1/1) {
    width: 100%;
    font-size: 28px;
    line-height: 1.36;
    margin-bottom: 40px;
  }

  @include oGridRespondTo($from: XL) {
    width: 100%;
    font-size: 28px;
    line-height: 1.36;
    margin-bottom: 40px;
  }

  @media (max-aspect-ratio: 1/1) {
    margin-bottom: 20px;
  }

  @include oGridRespondTo($until: XL) {
    margin-bottom: 20px;
  }

  // Add o grid styles here

  @include oGridRespondTo($until: S) {
    margin-bottom: 0px;
  }
}

.topper__standfirst-mobile div {
  @include oGridRespondTo($from: S) {
    margin: auto;
    width: 75%;
  }
}

.topper__standfirst {
  display: none;
}

// Mobile only icon

.topper__scroll-icon {
  @include oGridRespondTo(S) {
    display: none;
  }

  margin-top: 10px;
  position: relative;
  top: 20px;

  .scroll-text {
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  i {
    position: relative;
    top: -5px;
  }
}

.topper__visual {
  background-image: url('videos/default-bg.jpg');
  background-size: cover;
  background-position: center;

  @include oGridRespondTo($until: S) {
    background-image: url('videos/default-bg-small.jpg');
  }
}

.icon-arrow-down {
  @include oIconsGetIcon('arrow-down', #ffffff, 40);
}

// Desktop header
.o-header--simple .o-header__top-logo {
  height: 16px;
}

// Hide video controls

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}
