@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';
@import 'components/core/timeline';
@import 'components/list/list';

$bullet-size: 35px;

span.item__name {
  margin-left: 15px;
}

.item__agriculture span.key__bullet {
  background: #9dbf57;
}

.item__industrials span.key__bullet {
  background: #eb5e8d;
}

.item__energy span.key__bullet {
  background: #70dce6;
}

.item__transport span.key__bullet {
  background: #0f5499;
}

.item__others span.key__bullet {
  background: #c2b7af;
}

.item__chinese span.key__bullet {
  background-image: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8476691573-vwitu.svg);
}

.item__us span.key__bullet {
  background-image: url(http://ft-ig-images-prod.s3-website-eu-west-1.amazonaws.com/v1/8476691501-bz2w0.svg);
}

.item__agriculture span.item__bullet {
  color: #9dbf57;
}

.item__industrials span.item__bullet {
  color: #eb5e8d;
}

.item__energy span.item__bullet {
  color: #70dce6;
}

.item__transport span.item__bullet {
  color: #0f5499;
}

#key-container {
  #key {
    background: oColorsGetPaletteColor('black-5');
    margin-top: 5px;

    .key-row {
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .summary-item {
        position: relative;
        margin-right: 10px;
        padding: 5px 0;

        .key__bullet {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;

          @include oGridRespondTo($until: S) {
            width: 12px;
            height: 12px;
          }
        }

        .item__name {
          margin-left: 0;
        }
      }
    }
  }
}

:root .o-typography-wrapper ol {
  column-count: 1;

  @include oGridRespondTo(M) {
    column-count: 3;
  }

  li {
    padding-left: 31px;
    padding-bottom: 5px;
    font-size: 1em;
    line-height: 1.1em;
    font-family: MetricWeb, sans-serif;

    &:before {
      font-size: 0.8em;
      top: -2px;
    }

    span.item__bullet {
      font-size: $bullet-size;
      margin-right: 5px;
      vertical-align: middle;
      position: absolute;
      top: -3px;
    }
  }
}
