@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

$bullet-size: 35px;

span.item__name {
  margin-left: 15px;
}

.bar.item__other {
  position: absolute;
  left: -1px;
  top: -1px;
  border: 1px solid black;
}

.bar.item__agriculture {
  background: #9dbf57;
}

.bar.item__industrials {
  background: #EB5E8D;
}

.bar.item__energy {
  background: #70DCE6;
}

.bar.item__transport {
  background: black;
}

.bar.item__technology {
  background: #c2b7af;
}



.item__agriculture span.item__bullet {
  color: #9dbf57;
}

.item__industrials span.item__bullet {
  color: #EB5E8D;
}

.item__energy span.item__bullet {
  color: #70DCE6;
}

.item__transport span.item__bullet {
  color: black;
}

.item__technology span.item__bullet {
  color: #c2b7af;
}

#key {
  .summary-item {
    position: relative;
    margin-right: 10px;

    .item__bullet {
      font-size: $bullet-size;
      margin-right: 5px;
      vertical-align: middle;
      position: absolute;
      top: -13px;
    }
  }

}

#summary-graphic {
  margin: 2em 0;

  .bar-group-name {
    margin-top: 1em;
    margin-bottom: 5px;
  }

  .bar-container {
    width: 100%;
    height: 20px;
    position: relative;

    .bar {
      float: left;
      height: 20px;
    }
  }
}

:root .o-typography-wrapper ol {
  column-count: 1;

  @include oGridRespondTo(M) {
    column-count: 3;
  }

  li {
    padding-left: 31px;
    padding-bottom: 5px;
    font-size: 1em;
    line-height: 1.1em;
    font-family: MetricWeb, sans-serif;

    &:before {
      font-size: 0.8em;
      top: -2px;
    }

    span.item__bullet {
      font-size: $bullet-size;
      margin-right: 5px;
      vertical-align: middle;
      position: absolute;
      top: -3px;
    }
  }
}

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
