@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

$bullet-size: 35px;

span.item__name {
  margin-left: 15px;
}

.item__agriculture span.item__bullet {
  color: #9dbf57;
}

.item__industrials span.item__bullet {
  color: #EB5E8D;
}

.item__energy span.item__bullet {
  color: #70DCE6;
}

.item__transport span.item__bullet {
  color: black;
}

.item__technology span.item__bullet {
  color: #c2b7af;
}

#key {
  .summary-item {
    position: relative;
    margin-right: 10px;

    .item__bullet {
      font-size: $bullet-size;
      margin-right: 5px;
      vertical-align: middle;
      position: absolute;
      top: -13px;
    }
  }

}

#summary-graphic {
  margin: 2em 0;

  .summary-graphic-group {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;

    div:first-child {
      flex: 100%;
      margin-bottom: 10px;
    }

    span.summary-item {
      line-height: 6px;

      .item__bullet {
        font-size: 25px;
      }
    }
  }

}

:root .o-typography-wrapper ol {
  column-count: 1;

  @include oGridRespondTo(M) {
    column-count: 2;
  }

  @include oGridRespondTo(L) {
    column-count: 3;
  }

  li {
    padding-left: 31px;
    padding-bottom: 5px;
    font-size: 1em;
    line-height: 1.1em;
    font-family: MetricWeb, sans-serif;

    &:before {
      font-size: 0.8em;
      top: -3px;
    }

    span.item__bullet {
      font-size: $bullet-size;
      margin-right: 5px;
      vertical-align: middle;
      position: absolute;
      top: -3px;
    }
  }
}

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
