@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-colors/main';

.icon-arrow-left {
  @include oIconsGetIcon('arrow-left', #ffffff, 40);
}

.icon-arrow-right {
  @include oIconsGetIcon('arrow-right', #ffffff, 40);
}

#timeline-wrapper {
  #timeline-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  #timeline-container.tacked {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: #fff1e5;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    margin: 0;
  }

  .timeline__country-banner {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
  }

  .timeline__country-banner.timeline__country-banner--china {
    background-color: #cc0000;
    color: #ffffff;
  }

  .timeline__legend {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 1em;
  }

  .timeline__legend-item {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 10px;

    .key__bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
    }

    .item__name {
      margin-left: 5px;
      position: relative;
      top: 1px;
    }
  }

  .timeline__navigation {
    width: 100%;
    margin: 0;
  }

  .timeline__line-container {
    background-color: #e6d9ce;
  }

  .timeline__buttons {
    color: #ffffff;

    i {
      width: 40px;
      height: 40px;
      margin-top: 2px;
    }

    display: flex;
    padding: 0;

    .timeline__left-button {
      margin-right: 2px;
    }

    .timeline__left-button,
    .timeline__right-button {
      flex: auto;
      background-color: #46a5b2;
      text-align: center;
      vertical-align: middle;
    }

    .timeline__left-button.disabled,
    .timeline__right-button.disabled {
      opacity: 0.4;
    }
  }

  .timeline__line-container {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;

    .timeline__line {
      width: 100%;
      height: 2px;
      background: #b9afa5;
      margin: auto;
      margin-top: 1em;
      margin-bottom: 1em;

      display: flex;
      justify-content: space-between;
    }

    .timeline__circle {
      position: relative;
      bottom: 4px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      cursor: pointer;
      background: #b9afa5;
      border: 2px solid #e6d9ce;

      &.selected {
        background: #46a5b2;
        width: 12px;
        height: 12px;
        bottom: 6.5px;
      }

      .timeline__circle__text {
        display: none;
      }
    }

    .timeline__line-text-left,
    .timeline__line-text-right {
      display: inline;
    }

    .timeline__line-text-right {
      float: right;
      color: #66605c;
      display: none;
    }

    .timeline__line-date {
      font-weight: 600;
    }
  }
}
