@import 'o-grid/main';

#timeline-wrapper {
  #timeline-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  #timeline-container.tacked {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background: #fff1e5;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    margin: 0;
  }

  @include oGridRespondTo($until: S) {
    .timeline__country-banner {
      width: 100%;
      text-align: center;
      padding: 5px 0;
      font-size: 24px;
      font-weight: 500;
    }

    .timeline__country-banner.timeline__country-banner--china {
      background-color: #cc0000;
      color: #ffffff;
    }

    .timeline__legend {
      width: 100%;
      padding-top: 12px;
      padding-bottom: 10px;
      padding-left: 1em;
    }

    .timeline__legend-item {
      position: relative;
      white-space: nowrap;
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 5px;
      margin-right: 10px;

      .key__bullet {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
      }

      .item__name {
        margin-left: 5px;
        position: relative;
        top: 1px;
      }
    }

    .timeline__navigation {
      width: 100%;
      margin: 0;
    }

    .timeline__line-container {
      background-color: #e6d9ce;
    }

    .timeline__buttons {
      background-color: #46a5b2;

      i {
        width: 40px;
        height: 40px;
        display: inline;
      }
    }

    .timeline__line-container {
      padding-left: 1em;
      padding-right: 1em;

      .timeline__line {
        width: 90%;
        height: 3px;
        background: #b9afa5;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
      }

      .timeline__circle {
        // position: absolute;
        top: -5.5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        background: #ffffff;
        border: 2px solid #999189;

        .timeline__circle__text {
          display: none;
        }
      }
    }
  }
}
