.date-header {
  h2 {
    display: inline;
  }

  a {
    display: inline;
    margin-left: 5px;
  }

  margin-bottom: 1em;
}

.item-list.closed {
  display: none;
}

.item-list-switch {
  margin-bottom: 20px;
}
